.tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabBtn {
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #2C2F33;
    cursor: pointer;
    transition: 0.3s;
}
.tabBtn:hover{
    background-color: #95aaf5;
}

.tabBtn:focus{
    outline: none;
    background-color: #7289DA;
}

