.messageSend {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.sendMessageDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

#txtArea {
    margin-top: 30px;
    resize: none;
    height: 400px;
    width: 100%;
    background-color: #2C2F33;
    border: none;
    color: #fff;
}

#sendBtn {
    padding: 10px 10px;
    color: white;
    background-color: #7289DA;
    border: none;
    cursor: pointer;
    width: 15%;
}
#sendBtn:hover {background-color: #8da4f5}
#msgInput {
    padding: 10px;
    width: 80%;
    border: none;
    background-color: #2C2F33;
    border: none;
    color: #fff;
}