.settingsTabContent {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}

.hookOptionsInput {
    padding: 10px;
    border: none;
    background-color: #2C2F33;
    color: #626a75;
}


label {
    margin: 10px 0 2px 0;
    color: #fff;
}

#saveBtn {
    color: white;
    background-color: #7289DA;
    margin-top: 15px;
    padding: 10px;
    height: inherit;
    border: none;
    cursor: pointer;
    transition: 0.5s ;
}
#saveBtn:focus {
    outline: none;
}
#saveBtn:hover {background-color: #8da4f5}